<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Patients Form</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">
    <form method="post" th:action="@{save}" class="container mt-5">

        <div class="mb-3">
            <label class="form-label">Id</label>
            <input  class="form-control" type="text" th:field="${patient.id}" />
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" class="form-control" type="text" name="Name" th:value="${patient.name}">
            <div th:errors="${patient.name}" class="invalid-feedback"></div>
        </div>

        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input id="birthday" class="form-control" type="date" name="Birthday" th:value="${patient.birthday}">
            <div th:errors="${patient.birthday}" class="invalid-feedback"></div>
        </div>

        <div class="mb-3 form-check">
            <input id="isSick" class="form-check-input" type="checkbox" name="isSick" th:checked="${patient.sick}">
            <label class="form-check-label" for="isSick">Sick</label>
            <div th:errors="${patient.sick}" class="invalid-feedback"></div>
        </div>

        <div class="mb-3">
            <label for="score" class="form-label">Score</label>
            <input id="score" class="form-control" type="number" name="Score" th:value="${patient.score}">
            <div th:errors="${patient.score}" class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
