<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container py-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Patients List
        </div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Keyword" aria-label="Keyword"
                           aria-describedby="button-addon2" name="keyword" th:value="${keyword}">
                    <button class="btn btn-info" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>isSick</th>
                        <th>Score</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${patientsList}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.birthday}"></td>
                        <td th:text="${p.isSick}"></td>
                        <td th:text="${p.score}"></td>
                        <td>
                            <a onclick="return confirm('Are you sure?')"
                               th:href="@{delete(id=${p.id}, page=${currentPage}, keyword=${keyword})}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li th:each="page,status:${pages}" class="page-item">
                        <a th:href="@{/index(page=${status.index},keyword=${keyword})}" class="page-link">
                            <span class="badge bg-primary rounded-circle me-1"
                                  th:class="${(currentPage == status.index) ? 'text-white' : ''}">[[${status.index}]]</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
</body>
</html>